<div class="container">
  <h1>Welcome to our Cool-Ass Page!</h1>

  <form action="cool_url" method="get">
  
    <input type="submit" value="go to get page">
  </form>
  <br>
  <br>
  <form action="cool_url" method="post" id="123">
    Enter a word:
    <br>
    <textarea name="user_input[a]" form="123">Enter text here...</textarea>
    <label>Radio Buttons: <input type="radio" value="Yes"  name="user_input[b]">
    <input type="radio" value="No"name="user_input[b]"></label>
    <input type="checkbox" value="this is checked" name="user_input[c]">
    <input type="text" name="user_input[d]">
    <input type="submit" value="Submit">
  </form>
  

 
</div>
